{{define "home"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/templates/css/homeP.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Traces</title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo"></div>

<!--            <nav>-->
<!--                <a href="#">button1</a>-->
<!--                <a href="#">button2</a>-->
<!--                <a href="#">button3</a>-->
<!--                <a href="#">button4</a>-->
<!--                <a href="#">button5</a>-->
<!--            </nav>-->
        </div>
    </div>
</header>


<div class="intro">
    <div class="container">
        <div class="intro_inner">
            <form class="button_title">
                <button onclick="loadMore()" >Обновить</button>
            </form>

            <div id="nextBatch"></div>

            <table class="intro_title">
                {{range .}}
                    <tr>
                        {{range .}}
                            <td>{{ . }}</td>
                        {{end}}
                    </tr>
                {{end}}
            </table>
        </div>
    </div>
</div>

<!--<script>-->
<!--    function loadMore() {-->
<!--        // var e = document.getElementById("nextBatch");-->
<!--        // var xhr = new XMLHttpRequest();-->
<!--        // xhr.onreadystatechange = function() {-->
<!--        //     if (xhr.readyState === 4 && xhr.status === 200) {-->
<!--        //         e.outerHTML = xhr.responseText;-->
<!--        //     }-->
<!--        // }-->
<!--        // xhr.open("GET", "/posts/more", true);-->
<!--        // try { xhr.send(); } catch (err) { /* handle error */ }-->
<!--    }-->
<!--</script>-->


</body>
</html>
{{end}}



